<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="admin.Master.cs" Inherits="CollegePlacementManagementSystem.SiteMaster" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Placement System</title>
</head>

<body>
    <form runat="server">

        <div style="padding:20px">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>

    </form>
</body>
</html>